<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>stanford_IOS_2017.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2F402241ED365FB0023E653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2F4023B1ED365FB0023E653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2F402461ED365FB0023E653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
